/* RESET RSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    font-family: inherit;
    text-align: left;
    outline: 0;
}

a img,:link img,:visited img {
    border: 0;
    outline: 0;
}

table {
    border-spacing: 0;
}

ol, ul {
    list-style: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}

/* FIN RESET */


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;    
    line-height: 14px;
    border: none !important;
    

}

h1#logo{
    background: url('../img/logo.png') no-repeat;
    width: 55px;
    height: 64px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-indent: -5000px;
    float: left;
}

h2 {    
    font-size: 16px;
    font-style: italic;  

    padding: 0 2px 8px 2px;
    font-weight: normal;
    line-height: 17px;
    margin-bottom: 24px;   
}

.derecha{
    float: right;
    margin-left: 40px;
}

.izquierda{
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 12px;
    line-height: 14px;    
    margin-bottom: 20px;
    text-align: justify;
}

b{
    font-weight: bold;    
}

a:link, a:visited{
    
    text-decoration: none;
    font-weight: normal;
}

a:hover, a:active{
   
}

#izquierda{
    width: 620px;
    float: left;
    margin-right: 35px;
}



.clear{
    clear: both;
}
